<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=typeof title == 'undefined' ? '' : title + " |"%> Prezenter - online prezentációs alkalmazás</title>

    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
  <% if (typeof loggedin !== 'undefined' && loggedin) { %>
    <%- partial('menu_internal.ejs', {current_page: current_page}) %>
  <% } else { %>
    <%- partial('menu_login.ejs') %>
  <% } %>
    <%- body %>
      <hr>

      <footer>
        <p> &copy; 2017 László Tamás </p>
      </footer>
    </div> <!-- /container -->

    <!-- scripts -->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
