* { transition: all .5s; }
body { transition: none; }
#main h1 { border-bottom: 1px dashed #aaa; }
#main h1 small { font-size: 40%; }
#main pre { font-size: 12px; }
.jumbotron h1 { border-bottom: none; }
textarea.json { height: 150px; }

.screenreader { text-indent: -9999px; position: absolute; }

#signup ~ form button ~ input { display: none; }

.pagination { margin: 0; }
.pagination > li > a { background-color: rgba(0, 140, 186, 0.6); color: #fff; font-weight: bolder; }
.pagination > li > a:hover { background-color: rgba(0, 140, 186, 0.8); color: #fff; }
.pagination > li > a.active { background-color: rgba(0, 140, 186, 1); color: #fff; cursor: default; }

.navbar-inverse .navbar-nav a.active { background-color: #006687; }
.navbar-brand { font-weight: bolder; }
.navbar-brand img { display: inline; margin-top: -5px; margin-right: 5px; }
.navbar { margin-bottom: 0; }
.navbar-form { margin-top: 5px; }
.navbar-form input { margin-right: 3px; }
.navbar .btn { padding-top: 5px; padding-bottom: 5px; }
.navbar-inverse .navbar-nav > li > a .glyphicon-user { font-size: 1.3em; padding-right: 3px; top: 2px; color: rgba(255,255,255,0.7); }
.navbar-inverse .navbar-nav > li > a:hover .glyphicon-user { color: #fff; }
label, .control-label { font-weight: bold; font-size: 1em; }
.groups-table { margin-bottom: 0; }
.table > tbody > tr > td { vertical-align: middle; }
.groups-table thead > tr > th:last-child { width: 100px; }
.groups-table > tbody > tr:nth-child(2n) > td  { padding: 0 30px 10px 30px; }
.inner-page input, .inner-page select, .inner-page textarea, .inner-page label, .inner-page .btn { margin-top: 5px; margin-right: 5px; }
.form-horizontal label { margin-right: 0; }
.inner-page table .btn { margin: 0; }
.table .btn { padding-top: 4px; padding-bottom: 4px; }
.inner-page .table-members button { padding-top: 1px; padding-bottom: 1px; }
.inner-page .table-members td { padding: 4px; }
.inner-page .table-users { margin-bottom: 5px; }
.table > tbody > tr > .presentation-desc { background-color: #f6f6f6; border-top: none; }
.table-presentations tr > :last-child:not(.presentation-desc),
.table-presentations tr > :nth-last-child(2),
.table-presentations tr > :nth-last-child(3),
.groups-table > thead > tr > th:last-child,
.groups-table > thead > tr > :nth-last-child(2),
.groups-table > tbody > tr > :last-child:not(:first-child),
.groups-table > tbody > tr > :nth-last-child(2) { text-align: center; width: 70px; padding-left: 0; padding-right: 0; }

.delete-btn { margin-top: 20px; padding-left: 30px; }

.error-page { text-align: center; max-width: 800px; }
.error-page .jumbotron { background-color: #eee; margin-top: 30px; }

.modal-footer .btn + .btn { margin-left: 0; }

.presentation-play { overflow: hidden; position: fixed; width: 100%; height: 100%; }
.presentation-play .slide { display: flex; flex-direction: column; text-align: center; justify-content: center; position: absolute; width: 100%; height: 100%; background: #ddd; }

@media (min-width: 768px) {
  .navbar-nav > li.dropdown > a { padding-bottom: 10px; }
}
@media (max-width: 500px) {
  .btn { width: 100%; display: block; }
  table .btn { display: inline-block; width: auto; }
}
@media (min-width: 500px) {
  .modal-dialog { width: 400px; margin-left: auto; margin-right: auto; }
}
@media (min-height: 400px) {
  .modal-dialog { margin-top: 70px; }
}
@media (max-height: 400px) {
  .modal-header, .modal-body, .modal-footer { padding-top: 10px; padding-bottom: 10px; }
}
